---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import CallToAction from "../components/CallToAction.astro";
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64 mb-36">
    <div class="container">
      <h2 class="mb-16 text-6xl" id="process">Process</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:head-question" title="Information Gathering">
          We start by understanding your business objectives and aspirations, gathering valuable insights to shape your dream web app.
        </Feature>
        <Feature icon="mdi:brain" title="Outsmart the Competition">
          We conduct a comprehensive analysis of your competitors, identifying opportunities that set you apart in the digital landscape.
        </Feature>
        <Feature icon="mdi:road-variant" title="Defining the Path Ahead">
          Together, we define the scope of your web app project, creating a roadmap and timeline aligned with your budget and vision.
        </Feature>
        <Feature icon="mdi:television-shimmer" title="The Lautus Tech Advantage">
          We assess the technical feasibility, recommending the ideal technology stack and seamless integrations for your success.
        </Feature>
        <Feature icon="mdi:hammer-wrench" title="Building Your Web App">
          Our skilled developers bring your vision to life, following industry standards and conducting rigorous testing at every stage.
        </Feature>
        <Feature icon="mdi:emoticon-happy" title="Your Success Story">
          After the launch, we conduct a final review to celebrate your success and gather feedback to elevate our services further.
        </Feature>
      </div>
    </div>
  </section>
  <CallToAction />
</DefaultLayout>
