---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container text-center">
      <p>
        &copy; {currentYear} - Lautus LLC
      </p>
    </div>
  </section>
</footer>
