---
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components'
import DefaultLayout from './DefaultLayout.astro'

const { frontmatter } = Astro.props
---

<DefaultLayout title={frontmatter.title}>
  <div class="container">
    <div class="space-content my-12">
      <Breadcrumbs>
        <BreadcrumbsItem href="/" label="Home" />
        <BreadcrumbsItem href="/blog" label="Blog" />
        <BreadcrumbsItem currentPage={true} label={frontmatter.title} />
      </Breadcrumbs>
      <div class="space-content mx-auto mt-24 max-w-3xl text-lg sm:text-xl">
        <slot />
      </div>
    </div>
  </div>
</DefaultLayout>
